body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
}

.site-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: 1rem;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #3498db;
}

.main-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 0;
}

.hero {
    position: relative;
    margin-bottom: 2rem;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 250px;
    filter: brightness(0.7);
    object-fit: cover;
    object-position: center top;
}

.hero-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.create-post-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.create-post-button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.create-post-button:hover {
    background-color: #3498db;
}

.sort-dropdown {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.posts-container {
    background: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.post {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.post:last-child {
    border-bottom: none;
}

.post h2 {
    margin: 0 0 0.5rem;
    font-size: 20px;
    font-weight: 700;
}

.post p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

.post .post-meta {
    font-size: 14px;
    color: #666;
    margin-bottom: 0.5rem;
}

.footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    color: black;
}

.footer hr {
    border: 2px solid lightgray;
    max-width: 1100px;
    margin: 0 auto;
}
